body{
    text-align:center;
}
#top h1{
    font-family: 'Staatliches', cursive;
    border:none;
    padding:10px;
    color:#3C3C3B;
    text-align:center;
}
img{
    width:300px;
    height:200px;
}
#buttons button{
    font-family: 'Staatliches', cursive;
    border:none;
    background-color:#EBEBD3;
    color:#3C3C3B;
    font-size:20px;
}
#buttons button:hover{
    background-color:#F5D547;
}